<!DOCTYPE html>
<html lang="en">
<head>
    {{> basehead customtitle="HOME"}}
</head>
<body onload="sss()">
    <div class="lds-ripple" id="preloader"><div></div><div></div></div>
    <div class="pagecontent fade-content" id="pagecontent">
        <nav class="blur">
            <nav class="menu-bar">
                <div class="group">
                </div>
                <div class="group">
                    <a class="item" href="/">HOME</a>
                    <a class="item" href="https://github.com/namo5758">GITHUB</a>
                    <a class="item title">! â„•ğ”¸ğ•„ğ•†#5179</a>
                    <img src="https://cdn.discordapp.com/avatars/503839000805769216/f136775c2ccdef93f5cde88918a0c506.webp?size=128" class="discord-profile"> 
            </nav>
        </nav>
        <div class="content">
            <div class="dd" data-aos="fade-up" data-aos-duration="1000">
                <h1>My name is Kittipon Thanee</h1>
                <p>I'm 15 years old, I'm Student at Pakkred Secondary School</p>
                <p>Skills: C, Nodejs, Python, MySQL, HTML, CSS</p>
            </div>
        </div>
        </div>
    </div>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script>
        function sss() {
            let content = setTimeout(showpage, 2000);
        }

        function showpage(){
            document.getElementById('preloader').style.display = 'none';
            document.getElementById('pagecontent').style.display = 'block'
        }
    </script>
</body>
</html>