<!DOCTYPE html>
<html lang="en">
<head>
    {{> basehead customtitle="HOME"}}
</head>
<body>
    <nav class="blur">
        <nav class="menu-bar">
            <div class="group">
            </div>
            <div class="group">
                <a class="item" href="/">HOME</a>
                <a class="item" href="https://github.com/namo5758">GITHUB</a>
                <a class="item title">! â„•ğ”¸ğ•„ğ•†#5179</a>
                <img src="/static/discord.webp" class="discord-profile"> 
        </nav>
    </nav>
    <div class="content">
        <div class="dd">
            <h1>My name is Kittipon Thanee</h1>
            <p>I'm 15 years old, I'm Students at Pakkred Secondary School</p>
            <p>Skills: C, Nodejs, Python, MySQL, HTML, CSS</p>
            <button class="blue-button"><a href="https://discord.com/api/oauth2/authorize?client_id=721287837898768456&permissions=8&scope=bot">INVITE MY DISCORD BOT</a></button>
        </div>
    </div>
</body>
</html>