body {
    margin: 0;
    padding: 0;
    background-image: url(bg2.webp);
    font-family: 'Assistant', sans-serif;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    font-family: 'Jost', sans-serif;
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.pagecontent {
    display: none;
}
  .lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    4.9% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    5% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }

.fade-content {
    animation-name: fade;
    animation-duration: 2s;
}

@keyframes fade {
    from { opacity: 0; }
    to { opacity: 1; }
}
a {
    text-decoration: none;
    color: white;
}
.menu-bar {
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    box-sizing: border-box;
  }
  
.item {
    color: white;
    background-color: transparent;
    font-size: 20px;
    display: inline-block;
    box-sizing: border-box;
    padding: 20px 10px;
}
  
.discord-profile {
    position: relative;
    top: 15px;
    right: 3px;
    size: 10px;
    width: 50px;
    border-radius: 50%;
}
.item-titel {
    margin: 20px
}
.blue-button {
    display: inline-block;
    font-weight: 400;
    font-size: 11pt;
    border-radius: 3px;
    cursor: pointer;
    height: 45px;
    width: 250px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
    margin: 10px;
}
  .blue-button {
    background-color: #7289da;
    border: 2px solid #7289da;
    color: #fff;
}
.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.dd {
    margin: 10px;
    text-align: center;
    color: white;
}