body {
    margin: 0;
    padding: 0;
    background-image: url(bg2.webp);
    font-family: 'Assistant', sans-serif;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    font-family: 'Jost', sans-serif;
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#preloader {
    background: white url(/static/suss.gif) no-repeat center center;
    background-size: 30%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
  }
a {
    text-decoration: none;
    color: white;
}
.menu-bar {
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    box-sizing: border-box;
  }
  
.item {
    color: white;
    background-color: transparent;
    font-size: 20px;
    display: inline-block;
    box-sizing: border-box;
    padding: 20px 10px;
}
  
.discord-profile {
    position: relative;
    top: 15px;
    right: 3px;
    size: 10px;
    width: 50px;
    border-radius: 50%;
}
.item-titel {
    margin: 20px
}
.blue-button {
    display: inline-block;
    font-weight: 400;
    font-size: 11pt;
    border-radius: 3px;
    cursor: pointer;
    height: 45px;
    width: 250px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
    margin: 10px;
}
  .blue-button {
    background-color: #7289da;
    border: 2px solid #7289da;
    color: #fff;
}
.content{
    position: relative;
    width: 35%;
    margin: auto;
    top: 100px;
    border-radius: 10%;
}
.dd {
    margin: 10px;
    text-align: center;
    color: white;
}
.project {
    position: relative;
    text-align: center;
    color: white;
    top: 500px;
}
.bot-stats {
    background-color: rgb(35, 36, 40);
    display: inline-flex;
    width: 300px;
}
.profile {
    border-radius: 50%;
    width: 80px;
}
.bot-content {
    position: relative;
    top: 600px;
    margin: auto;
    background-color: rgb(43, 45, 49);
    max-width: 400px;
    border-radius: 15%;
}
.blue-button {
    background-color: #7289da;
    border: 2px solid #7289da;
    color: #fff;
  }
