body {
    margin: 0;
    padding: 0;
    font-family: 'Assistant', sans-serif;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    font-family: 'Jost', sans-serif;
    background-color: white;
    background-attachment: fixed;
}
.pagecontent {
    display: none;
}
  .lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid #8369d0;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    4.9% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    5% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }

.fade-content {
    animation-name: fade;
    animation-duration: 2s;
}

@keyframes fade {
    from { opacity: 0; }
    to { opacity: 1; }
}

.header {
  display: flex;
  justify-content: space-between;
}
.header .item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.header .item a {
  margin: 10px;
  text-decoration: none;
  color: black;
}
.header .item p {
  margin: 10px;
  color: black;
}

.header .item img {
  border-radius: 50%;
  max-width: 50px;
}
.content-position {
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 10%;
}
.content h1 {
  font-size: 50px;
  font-weight: 700px;
  line-height: 1.2;
  font-family: 'Kanit', sans-serif;
  color: #8369d0; 
  animation: textdd 1s 3;
}
.content p {
  font-size: 22px;
  font-weight: 300px;
}
.btn-project {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background-color: #8369d0;
  border: 2px solid #8369d0;
  border-radius: 8px;
  color: white;
  font-size: 19px;
  text-decoration: none;
  font-weight: 600;
}

.btn-project:hover {
  background-color: #c77ed2;
  border: 2px solid #c77ed2;
}
.footer p {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}


.rawyingpee {
  height: 80vh;
}

.rawyingpee .content-raw {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.rawyingpee .content-raw img {
  border-radius: 50%;
  max-width: 80px;
  margin: 10px;
}
.rawyingpee .set-item {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
}

.rawyingpee .item {
  margin: 50px;
  background-color: #8369d0;
  width: 500px;
  border-radius: 1rem;
  text-align: center;
}

.rawyingpee .item h1 {
  font-size: 50px;
  font-weight: 900px;
  color: white;
}
.rawyingpee .item h3 {
  color: white;
  font-size: 32px;
}

.rawyingpee .item:hover {
  transition: all ease 0.2s;
  transform: translateY(-5px);
  background-color: #c77ed2;
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}

.rawyingpee .content-raw h1 {
  font-family: 'Kanit', sans-serif;
}


@keyframes textdd {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-50%);
  }
  100%{
    transform: translateY(0%);
  }
}